body {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    background-color: #F1F1F1;
}

header {
    background-color: #FF4949;
    text-transform: uppercase;
    border-bottom: 30px;
    border-color: #303030;
}

header a:hover {
    background-color: #F1F1F1;
}

nav {
    background-color: #303030;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    color: #F1F1F1;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.8rem;
}

main {
    margin-top: 15rem;
}

main p {
    text-align: left;
    color: #303030;
    font-weight: 300;
    font-size: 1.5rem;
    margin-right: 4rem;
}

main h2 {
    text-align: left;
    color: #303030;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3rem;
}

footer {
    background-color: #303030;
    color: #F1F1F1;
    font-weight: 400;
    font-size: 1.8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

footer .socials {
    width: 5%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    fill: #F1F1F1;
}

footer .line {
    background-color: #F1F1F1;
    padding-top: 0.1rem;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

footer .latline {
    background-color: #F1F1F1;
    height: 0.1rem;
    align-content: center;
    margin-top: 2%;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

a:link {
    color: #F1F1F1;
    text-decoration: none;
}
a:visited {
    color: #F1F1F1;
}
a:hover {
    color: #FF4949;
    font-weight: 400;
}
a:active {
    color: red;
}

.udev {
    font-weight: 800;
    font-size: 6rem;
    margin-top: 100px;
    margin-bottom: 100px;
}

h2 {
    color: white;
}
