body {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    background-color: #F1F1F1;
}

header {
    background-color: #FF4949;
    margin-top: 50px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-transform: uppercase;
    border-bottom: 30px;
    border-color: #303030;
}

nav {
    background-calor: #303030;
    padding-top: 40px;
    padding-bottom: 40px;

}

img {
    width: 100%;
    height: auto;
}
h1{
    font-weight: 800;
    font-size: 7.5rem;
}